<h1> Torneos </h1>
<a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>  

<div class="row">
<section class="col-sm-12 col-md-3">
  <div id="accordion">
      <app-acordeon [titulo]="'PHILIDOR'" [lista]="torneosPhilidor"></app-acordeon>
      <app-acordeon [titulo]="'FAOGBA'" [lista]="torneosFAOGBA"></app-acordeon>
      <app-acordeon [titulo]="'Philidor por el mundo'" [lista]="torneosInternacionales"></app-acordeon>
  </div>
</section>

<article class="col-md-9" id="chessresult">
<div id="spinner" class="text-center" *ngIf="mostrarSpinner">
    <strong>Cargando...</strong>
    <div class="spinner-border text-primary" style="width: 15rem; height: 15rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<IFRAME
  height="1400px" 
  width="95%" 
  frameborder ="0" 
  marginwidth="1" 
  marginheight ="1" 
  scrolling="auto"
  onerror="alert('Ocurrio un error al cargar los datos')"
  (load)="setMostrarSpinner(false)"
  [attr.SRC]="linkTorneoActual | sanitizer"
  title="Turnier xxxx" > Your browser does not support inline frames or is currently configured not to display inline frames. 
</IFRAME>

</article>
</div>