<div class="container animated fadeIn">
  <h2> Ultimas novedades </h2>
  <a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="card mt-4">
        <div class="row m-4">
          <div class="col-md-4 col-sm-12">
            <img src="assets/imagenes/noticias/computer.jpg" alt="Imagen de computadora">
          </div>
          <div class="col-md-8 col-sm-12">
            <h5><span class="badge badge-secondary">Torneo online para ayudar al club Philidor</span></h5>
            <p class="card-text">El primero torneo online del Club philidor con premios en efectivos</p>
            <p class="card-text">El torneo es un suizo a 9 rondas por la plataforma lichess</p>
            <p class="card-text">El ritmo de juego es 3 minutos mas 2 segundos</p>
            <p class="card-text">Fecha: 18 de julio 2020 a las 20:00hs</p>
            <p class="card-text">Inscripcion $200</p>
          </div>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-success btn-lg btn-block" target="_blank">Pagar inscripcion</a>
          <a href="https://docs.google.com/forms/d/1pBt5sHLT_BYA8k2FjRrP8UIl1a4pdj9-i1UCczVqQMc/viewform?edit_requested=true" target="_blank" class="btn btn-outline-success btn-lg btn-block">Formulario de inscripcion</a>
          <a href="https://www.lichess.org/team/club-philidor-online" class="btn btn-success btn-lg btn-block" target="_blank">Ya podes unirte al equipo y al torneo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-header">
          Sumate a nuestros equipos
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://lichess.org/team/club-philidor-de-moron" target="_blank"> &#9817; Lichess</a></li>
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://www.chess.com/club/club-philidor-de-ajedrez-de-moron" target="_blank"> &#9817; Chess.com</a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com" target="_blank">
        <img src="https://2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com/women" target="_blank">
        <img src="https://2700chess.com/files/topten_women.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
  </div>