<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Clases grupales para chicos</h1>
        <p class="lead">Sabados de 10 a 15hs</p>
        <strong> Profesores </strong>
        <ul> 
        <li> Mariano Ivan Ostoich </li>
        <li> Adrian conde </li>
        <li> Leandro Milla </li>
        <li> Pablo Gerola </li>  
        <li> Vicente Roman Rodriguez (ayudante) </li>
        </ul>
        <p>Nivel principiante - medio</p>
        <span class="nav-link text-success">
            <i class="fab fa-whatsapp fa-1x"></i>
            <a href="https://wa.me/541158333942" target="_blank"> Consultar </a>
        </span>
    </div>

    <div class="jumbotron">
        <h1 class="display-6">Clases grupales para adultos</h1>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p class="lead">Lunes desde las 18:00hs</p>
                <strong> Profesor </strong>
                <ul> 
                <li> Pablo Herrera </li>
                </ul>
                <p>Nivel medio - alto</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="lead">Viernes desde las 19:00hs</p>
                <strong> Profesor </strong>
                <ul> 
                <li> Daniel Carmuega </li>
                </ul>
                <p>Nivel principiante</p>
            </div>
        </div>
        <hr class="my-4">
        <span class="nav-link text-success">
            <i class="fab fa-whatsapp fa-1x"></i>
            <a href="https://wa.me/541158333942" target="_blank"> Consultar </a>
        </span>
    </div>

    <div class="jumbotron">
        <h1 class="display-6">Clases individuales para chicos y/o adultos</h1>
        <p class="lead">Lu - Vi desde las 19:00hs</p>
        <strong> Profesores </strong>
        <ul> 
        <li> Pablo Gerola </li>
        <li> Herrera Pablo </li>
        </ul>
        <p>Nivel principiante - medio</p>

        <span class="nav-link text-success">
            <i class="fab fa-whatsapp fa-1x"></i>
            <a href="https://wa.me/541158333942" target="_blank"> Consultar </a>
        </span>
    </div>
</div>