<div class="row">
<section class="col-sm-12 col-md-3">
  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              PHILIDOR
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
              <li class="nav-item" *ngFor="let torneo of torneosPhilidor">
                <a class="nav-link" routerLink="/tournament" (click)="cambiarIFrame(torneo.link)">{{torneo.nombre}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              FAOGBA
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
              <li class="nav-item" *ngFor="let torneo of torneosFAOGBA">
                <a class="nav-link" routerLink="/tournament" (click)="cambiarIFrame(torneo.link)">{{torneo.nombre}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<article class="col-md-9">
<IFRAME
  height="1400px" 
  width="80%" 
  frameborder ="0" 
  marginwidth="1" 
  marginheight ="1" 
  scrolling="auto"
  onerror="alert('Ocurrio un error al cargar los datos')"
  onload="console.log('Datos cargados')"
  [attr.SRC]="linkTorneoActual"
  title="Turnier xxxx" > Your browser does not support inline frames or is currently configured not to display inline frames. 
</IFRAME>

</article>
</div>