<div class="container">
    <h2> Colaborar </h2>
    <div class="row">
        <p>
            Hoy mas que nunca el club necesita que le demos una mano. 
            Si esta dentro de tu alcance, te pedimos una colaboracion 
            para poder afrontar los gastos que tenemos estos dias en 
            los que el club debe permanecer cerrado.

            La cuota al momento de cerrar era de $800.

            Como cada persona pasa por una situcion distinta, 
            te ofrecemos varias opciones para ayudar.
        </p>

        <ul class="list-group offset-3 col-6">
            <li class="list-group-item">
                <a class="btn btn-info btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-b515c50c-3458-474c-ad02-950464081f19">$200</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-info btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-33858835-ccd6-4056-8e3d-0df14ec47bce">$400</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-de99a478-9bf7-4e90-ac86-341092899fe9">$800</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-info btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-1b1d6daf-0db1-4e3e-bb09-870086bc0735">$1600</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-info btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-85f03ccc-413d-4595-b415-0210cebffd6b">$2400</a>
            </li>
            <li class="list-group-item">   
                <a class="btn btn-info btn-lg btn-block" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-c68acc4a-93cb-4951-9319-d9a7234d1a2d">$3000</a>
            </li>
        </ul>
    </div>
</div>