<div class="container animated fadeIn">
  <div class="encabezado">
    <h2> Ultimas novedades </h2>
    <a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="card mt-4">
        <div class="row m-4">
          <h2><span class="badge badge-secondary">Disfruta jugando con amigos</span></h2>
          
          <div class="imagenes">
            <img src="assets/imagenes/eventos/imagen_1.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_2.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_3.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_4.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_5.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_6.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_7.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_8.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_9.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_10.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_11.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_12.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_13.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_14.jpeg" alt="" />
            <img src="assets/imagenes/eventos/imagen_15.jpeg" alt="" />
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-header">
          Sumate a nuestros equipos online
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://lichess.org/team/club-philidor-de-moron" target="_blank"> &#9817; Lichess</a></li>
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://www.chess.com/club/club-philidor-de-ajedrez-de-moron" target="_blank"> &#9817; Chess.com</a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>

  <div class="row m-4">
    <iframe src="https://lichess.org/training/frame?theme=wood&bg=dark" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
  </div>

  <div class="row m-4">
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com" target="_blank">
        <img src="https://2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com/women" target="_blank">
        <img src="https://2700chess.com/files/topten_women.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
  </div>