<div class="container animated fadeIn">
  <h2> Ultimas novedades </h2>
  <a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="card mt-4">
        <div class="row m-4">
          <h2><span class="badge badge-secondary">Sumate a los torneos</span></h2>

          <img class="card-img-top img-thumbnail rounded m-4" src="assets/imagenes/noticias/torneo1.jpeg" alt="Imagen de torneo1">
          <img class="card-img-top img-thumbnail rounded m-4" src="assets/imagenes/noticias/torneo2.jpeg" alt="Imagen de torneo2">
          <img class="card-img-top img-thumbnail rounded m-4" src="assets/imagenes/noticias/torneo3.jpeg" alt="Imagen de torneo3">

          <div class="card-body torneo">
            <p class="card-text">Veni a jugar con nosotros </p>
            <div class="sistema">
              <p class="card-text">Torneos pensados</p>
              <p class="card-text">Torneos relampagos</p>
              <p class="card-text">Cursos al aire libre</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-header">
          Sumate a nuestros equipos online
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://lichess.org/team/club-philidor-de-moron" target="_blank"> &#9817; Lichess</a></li>
            <li class="list-group-item"><a class="btn btn-info btn-lg btn-block" href="https://www.chess.com/club/club-philidor-de-ajedrez-de-moron" target="_blank"> &#9817; Chess.com</a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>

  <div class="row m-4">
    <iframe src="https://lichess.org/training/frame?theme=wood&bg=dark" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
  </div>

  <div class="row m-4">
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com" target="_blank">
        <img src="https://2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
    <div class="col-md-6 col-sm-12">
      <a href="https://2700chess.com/women" target="_blank">
        <img src="https://2700chess.com/files/topten_women.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
      </a>
    </div>
  </div>