<div class="sticky-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" (click)="navegar('home')" routerLinkActive="active">&#9812;Philidor&#9813;</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    Menu
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="toggles.torneos">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('torneos')" routerLinkActive="active">&#9817; Torneos</a>
      </li>
      <li class="nav-item" *ngIf="toggles.ranking">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('ranking')" routerLinkActive="active">&#9817; Ranking Philidor </a>
      </li>
      <li class="nav-item" *ngIf="toggles.clases">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('clases')" routerLinkActive="active">&#9817; Clases </a>
      </li>
      <li class="nav-item" *ngIf="toggles.jugar">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('jugar')" routerLinkActive="active">&#9817; Jugar</a>
      </li>
      <li class="nav-item" *ngIf="toggles.tactica">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('tactica')" routerLinkActive="active">&#9817; Tactica</a>
      </li>
      <li class="nav-item" *ngIf="toggles.historia">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('historia')" routerLinkActive="active">&#9817; Historia</a>
      </li>
      <li class="nav-item" *ngIf="toggles.contacto">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('contacto')" routerLinkActive="active">&#9817; Contacto </a>
      </li>
      <li class="nav-item" *ngIf="toggles.colaborar">
        <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown" (click)="navegar('colaborar')" routerLinkActive="active">&#9817; Colaborar </a>
      </li>
    </ul>
  </div>
</nav>
<div class="text-center alert alert-success">  
   Pagina en construccion    
  <a href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=145839931-d8c71f76-7972-4958-869d-3c211a6c3b62" target="_blank"> Donar 
  <i class="fas fa-money-bill-wave"></i> </a>
</div>
</div>