<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nuestra historia</h1>
      <p class="lead"> Nacio del proyecto de dos amigos: Oscar Rojas y Daniel Carmuega, en 1998.</p>
      <hr class="my-4">
      
      <p>
        En enero de 1998 soñaron con brindarle a la comunidad ajedrecística un lugar de encuentro para todo aquél que quiera participar de ésta apasionante actividad.     
      </p>
      <p>
          Pero el Club no es solo un lugar para ajedrecistas, también está orientado a la familia, para conocernos y compartir momentos, sin distinción de sexo, ni edad; buscando proporcionar, en especial, a niños y jóvenes, un espacio para el enriquecimiento cultural y social, promoviendo la convivencia pacífica y positiva entre todos.      
      </p>
      <p>          
          El Club debe su nombre al notable jugador francés de ajedrez: François André Danican Philidor (1726-1795), que en el siglo XVIII se reunía en un conocido café de la época llamado "La Régence".
      </p>
      <p>    
        El edificio donde se emplaza nuestro querido Club, es una construcción que data de 1880 de estilo barroco, donada por Oscar Rojas, y restaurada con el apoyo y ayuda de Daniel Carmuega, y de todos los amigos que pusieron tiempo, sacrificio, voluntad y empeño, para lograr que hoy lleguemos hasta ustedes y seamos una gran familia.
      </p>
    </div>
  </div>
</div>