<div class="container animated fadeIn">
  <h2> Ultimas novedades </h2>
  <a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>
  <div class="row">
    <div class="col-md-10 col-xs-12">
      <app-noticia class="col-md-6 col-xs-12" *ngFor="let noticia of noticias; let i=index" [data]="noticia" [id]="i">
      </app-noticia>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="row">
          <a href="https://2700chess.com" target="_blank">
            <img src="https://2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
          </a>
      </div>
      <div class="row">
          <a href="https://2700chess.com/women" target="_blank">
            <img src="https://2700chess.com/files/topten_women.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/>
          </a>
      </div>
    </div>
  </div>

</div>