<div class="container">

  <h1> Listado de Ranking Philidor </h1>
  <a class="btn btn-info" [routerLink]="['/contacto']"><i class="far fa-envelope"></i> Envianos un comentario <i class="far fa-envelope"></i></a>

  <div class="text-center alert alert-info"> 
      Datos actualizados al 20 de Diciembre de 2019
  </div> 

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label class="m-2" for="name">Buscar </label>
      <input type="text" [(ngModel)]="nameToFind" placeholder="Escribe tu nombre" name="name" id="name" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-12">
      <div class="animated slideInLeft">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">+-</th>
              <th scope="col">Clasico</th>
              <th scope="col">+-</th>
              <th scope="col">Rapido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let one of people; let i=index" 
                [ngClass]="{'text-muted':one.ranking.classic.variacion === 0,
                            'border border-success': one.ranking.classic.variacion !== 0}" (click)="showPlayer(row)">
              <ng-container *ngIf="checkByWord(one)">
                <th scope="row">{{ i }}</th>
                <td>{{ one.surname }}, {{ one.name }}</td>
                <td> <span *ngIf="one.ranking.classic.variacion"
                    [ngClass]="addBadgeByNumber(one.ranking.classic.variacion)">{{ one.ranking.classic.variacion }}</span>
                </td>
                <td>{{ one.ranking.classic.elo }}</td>
                <td> <span *ngIf="one.ranking.rapid.variacion"
                    [ngClass]="addBadgeByNumber(one.ranking.classic.variacion)">{{ one.ranking.rapid.variacion }}</span>
                </td>
                <td>{{ one.ranking.rapid.elo }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>